<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{>bootstrap}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <div class="container">
        <h1>Get temparure of any location in the world by just searhcing the location</h1>
        <P> weather data is retrieved from <a href="https://openweathermap.org/">open weathermap APIs</a></P>

    </div>

</body>

</html>