<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{>bootstrap}}
</head>

<body>
    {{>header}}
    <div class="container">

        <h1>Help Page</h1>
        <h5>Type the name of the location you are interested in and get the weather info</h5>
    </div>
</body>

</html>